header nav {
    padding: 10px;
    // position: absolute;
    // top: 0;
    // right: 0;
    // left: 0;
    // bottom: 0;
    // background-color: $black;
    // display: flex;
    // transform: translateY(-100vh);
    & img {
        // position: absolute;
    }
    & ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & li {
            padding: .5rem;
            & a {
                font-family: $titre-font;
                font-weight: 400;
                color: #fff;
                text-decoration: none;
                font-size: 1.5rem;
                text-transform: uppercase;

            }
        }
    }
}